{% extends 'base.html' %}
{% block content %}

<h2>My Events</h2>

<form action="/" method="POST">
    <label for="event_name">Event Name:</label>
    <input type="text" name="event_name" id="event_name">
    <label for="date">Event Date:</label>
    <input type="date" name="date" id="date">
    <label for="guests">No. of Guests:</label>
    <input type="int" name="guests" id="guests">
    <label for="room">Room Location:</label>
    <input type="text" name="room" id="room">
    <label for="description">Event Description:</label>
    <input type="text" name="description" id="description">
    <label for="recurring">Recurring?</label>
    <input type="checkbox" name='recurring' id='recurring'>
    <input type="submit" value="Add Event">
</form>

{% for event in events %}
<div>
    {{event.event_name}}: {{event.date}}, {{event.guests}}, {{event.room}}, {{event.description}} <br>
        {% if event.recurring %}
        <span> &#9989;</span>
        {% endif %}
</div>

{% endfor %}

{% endblock %}
